body{
    font-family: 'Times New Roman', Times, serif;
}

.cart-flex{
    display: flex;
    margin: 5vw;
}

.cart-intro{
    font-size: 8vh;
    margin: 2vh;
}

.cart-item-list{
    display: grid;
    width: 60vw;
    
}

.cart-item-list>div{
    background-color: grey;
    display: flex;
}

.login{
    background-color: purple;
    width: 40vw;
}

.cart-imgcontainer{
    width: 50%;
}

.cart-img{
    height: 20vh;
    width: 100%;
}

.cart-item-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.cart-item-desc>div:first-child{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;

    justify-content: center;
    gap: .5vh;
}

.cart-cost{
    border-top: 2px white solid;
    font-size: 2vh;
}

